<div class="container">
  <div *ngIf="post">
    <p class="text-center text-uppercase fs-3">{{ post.name }}</p>
    <img src="{{ post.img }}" alt="{{ post.name }}" class="img-fluid" />
    <p class="text-center">{{ post.description }}</p>
    <p class="text-end fw-light fst-italic">{{ post.date }}</p>
  </div>
  <div class= "d-flex flex-row justify-content-end">
    <button type="button" title="deletePost" (click)="deletePost()" class=" btn btn-sm btn-danger m-1">
      Delete
    </button>

    <button *ngIf="post" class=" btn btn-sm btn-success m-1">
      <a routerLink="/edit/{{ post.id }}" class="text-decoration-none text-white m-1">
        Edit
      </a>
    </button>
  </div>
</div>
